@import 'tailwindcss';

@theme {
	--color-primary: oklch(0.3764 0.1059 282.87);
	--color-primary-dark: #081127;
	--color-secondary: #96bd18;
	--color-secondary: #96bd18;
	--color-light: #f9f9f9;
	--color-accent-one: #685b9a;
	--color-accent-two: #f2b036;
	--color-accent-three: #a6c3d9;
	--color-accent-three-light: #edf3f7;
}

/* Hide scrollbar while allowing scroll */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
