@import 'tailwindcss';

@theme {
	--color-primary: oklch(0.3764 0.1059 282.87);
	--color-primary-dark: #081127;
	--color-secondary: #96bd18;
	--color-secondary: #96bd18;
	--color-light: #f9f9f9;
	--color-accent-one: #685b9a;
	--color-accent-two: #f2b036;
	--color-accent-three: #a6c3d9;
	--color-accent-three-light: #edf3f7;
}

@theme {
	--font-family-sans: 'Inter', sans-serif;
	--font-family-serif: 'Nunito', serif;
	--font-family-mono: 'Courier New', monospace;
	--font-family-display: 'Playfair Display', serif;
}
@theme {
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 2rem;
}

@body {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	color: var(--color-midnight);
	background-color: var(--color-bermuda);
}

/* Hide scrollbar while allowing scroll */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
